// Arabic Fonts
// $almarai-light: "almarailight";
// $almarai-regular: "almarairegular";
// $almarai-bold: "almaraibold";

// Colors
$primary-color: #0f98d5;
$text-primary-color: #009ad8;
$black-color: #000;
$white-color: #fff;
$secondary-text-color: #333333;
$radial-gradient: radial-gradient(circle, rgba(26, 26, 26, 1) 0%, rgba(0, 0, 0, 1) 100%);
$radial-gradient-big: radial-gradient(circle, rgba(26, 26, 26, 1) 50%, rgba(0, 0, 0, 1) 100%);
$radial-gradient-primary: radial-gradient(
	circle,
	rgba(0, 0, 0, 1) 0%,
	rgba(0, 151, 213, 1) 0%,
	rgba(16, 84, 132, 1) 70%
);
