.form {
    &__input {
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        font-weight: bold;
        border: 2px solid transparent;
        outline: none;
        &::placeholder {
            color: #ccc;
        }
        &:focus {
            border: 2px solid $primary-color;
            background-color: transparent;
            color: $primary-color;
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
        }
    }
    &-select {
        border-radius: 0.5rem;
        padding: 1rem;
        color: #ccc;
        font-size: 1.2rem;
        font-weight: bold;
        option {
            font-weight: bold;
        }
        &:focus {
            border: 2px solid $primary-color;
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
        }
    }
}

.form-checkbox {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    svg {
        display: block;
        position: absolute;
    }
    input {
        display: block;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50% / 50%;
        background: transparent;
        transition: background 0.25s linear, box-shadow 0.25s linear;
        &+svg {
            width: 35px;
            height: 26px;
            left: -7px;
            top: -3px;
            color: var(--active);
            .tick {
                stroke-dasharray: 20;
                stroke-dashoffset: var(--stroke-dashoffset, 20);
                transition: stroke-dashoffset 0.2s;
                &.mask {
                    stroke: var(--active-tick);
                }
            }
            &+svg {
                width: 11px;
                height: 11px;
                fill: none;
                stroke: var(--active);
                stroke-width: 3.25;
                stroke-linecap: round;
                top: -6px;
                right: -10px;
                stroke-dasharray: 4.5px;
                stroke-dashoffset: 13.5px;
                pointer-events: none;
                animation: var(--animation, none) 0.2s ease 0.175s;
            }
        }
        &:checked {
            --background: var(--active);
            --border: var(--active);
            &+svg {
                --stroke-dashoffset: 0;
                &+svg {
                    --animation: check;
                }
            }
        }
    }
    &:hover {
        input {
            &:not(:checked) {
                --border: $primary-color;
            }
        }
    }
    &--primary {
        --active-tick: #e6e6e6;
        input {
            box-shadow: inset 0 0 0 5px $primary-color;
        }
    }
    &--secondary {
        --active-tick: #e6e6e6;
        input {
            box-shadow: inset 0 0 0 5px #c7c7c7;
        }
    }
}