.section-billing {
    background-color: rgba(255, 255, 255, 0.8);
    &__heading {
        padding: 1rem 1.8rem;
    }
    &__membership {
        padding: 1rem 1.8rem;
    }
    &__membership-option {
        border: 1px solid #a5a5a5;
        padding: 1rem;
        background-color: $primary-color;
        border-radius: .5rem;
    }
    &__membership-option-1 {
        border-bottom: 1px solid white;
        strong {
            font-size: 3rem;
        }
    }
    &__table {
        padding: 1rem 2rem;
        @include media-query(phone) {
            padding: 1rem 0;
            img {
                width: 4.5rem;
            }
        }
    }
}