.player {
	&-body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}
}

.video-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.video-container video {
	width: 100%;
	height: 100%;
}

.video-container .controls-container {
	position: fixed;
	bottom: 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 40vh;
	/* Thanks to theArtifacts */
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
	transition: opacity 0.5s linear;
	z-index: 1;
}

.video-container .progress-controls {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.video-container .progress-controls .time-remaining {
	// margin: 1vw;
	margin: 0 1vw;
	width: 4vw;
	font-size: 18px;
}

.video-container .progress-controls .player-progress-bar {
	width: 90vw;
	height: 1vw;
	max-height: 7px;
	background: #8c8c8c;
	display: flex;
	align-items: center;
	cursor: pointer;

	position: relative;
}

.video-container .progress-controls .player-progress-bar .watched-bar,
.video-container .progress-controls .player-progress-bar .playhead {
	// background: #e31221;
	background: $primary-color;
	display: inline-block;
	transition: all 0.2s;
}

.video-container .progress-controls .player-progress-bar .watched-bar {
	height: 110%;
	width: 20%;
}

.video-container .progress-controls .player-progress-bar .playhead {
	height: 3vw;
	width: 3vw;
	max-height: 22px;
	max-width: 22px;
	border-radius: 50%;
	transform: translateX(-50%);
}

.progress-controls .video-preview {
	width: 200px;
	height: 180px;
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 20px;
	z-index: 5;
	display: none;
}

.video-container .progress-controls .player-progress-bar:hover .video-preview {
	display: flex;
}

.progress-controls .video-thumbnail {
	width: 100%;
	height: 100%;
	object-fit: cover;
	flex: 1;
}

.progress-controls .time-preview {
	padding: 10px;
	text-align: center;
	color: $white-color;
	font-weight: bold;
	font-size: 18px;
	background: #333;
	flex: 0;
}

.video-container .controls {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-bottom: 1rem;
}

.video-container .controls button {
	background: none;
	outline: none;
	box-shadow: none;
	border: none;
	width: 3.5vw;
	height: 3.5vw;
	min-width: 30px;
	min-height: 30px;
	margin: 0px 1vw;
	opacity: 0.4;
	transform: scale(0.9);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.video-container .controls button:hover {
	opacity: 1;
	transform: scale(1.05);
}

.video-container .controls button svg {
	fill: white;
	stroke: white;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	width: 100%;
	height: 100%;
}

.video-container .controls button:hover svg path,
.video-container .controls button:hover svg path {
	fill: $primary-color;
}

.video-container .controls button:hover svg {
	fill: $primary-color;
	stroke: $primary-color;
}

.video-container .controls button.volume svg path,
.video-container .controls button.help svg,
.video-container .controls button.episodes svg,
.video-container .controls button.full-screen svg,
.video-container .controls button.volume svg path,
.video-container .controls button.cast svg {
	fill: none;
}

.video-container .controls button.rewind svg,
.video-container .controls button.fast-forward svg {
	stroke: none;
}

.video-container .controls button.captions svg {
	stroke: none;
}

.video-container .controls .title {
	font-size: 1.5vw;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 768px) {
	.video-container .controls .title {
		display: none;
	}
}

.video-container .controls .title .series {
	color: #fefefe;
	font-weight: bold;
	font-size: 1em;
}

.video-container .controls .title .episode {
	color: #a1a1a1;
	font-size: 0.75em;
	padding-left: 1vw;
}

.episodes {
	position: relative;
}

.episodes:hover .episodes-series {
	display: block;
}

.episodes-series {
	position: absolute;
	width: 400px;
	height: 300px;
	background: #333;
	border-radius: 5px;
	// box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	left: -350px;
	top: -320px;
	padding: 10px;
	display: none;
}

.episodes-list {
	height: 100%;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #484848;
		border-radius: 5px;
	}
}

.episodes-series {
	&::after {
		content: "";
		width: 0;
		height: 0;
		background-color: transparent;
		border-top: 30px solid #333;
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-bottom: 30px solid transparent;
		position: absolute;
		bottom: -50px;
		right: 10px;
		z-index: -1;
	}
}

.episodes-row {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	border-radius: 5px;
	padding: 10px;
	transition: all 0.3s;
	text-align: left;
}

.episodes-row p {
	color: #fff;
	font-size: 1rem;
}

.episode-thumbnail {
	border-radius: 5px;
	overflow: hidden;
	width: 150px;
}

.episodes-row:hover {
	background-color: #585858;
}

.episode-name h5 {
	font-size: 1rem;
	color: #fff;
	font-weight: bold;
}

.video-container .back-container {
	position: absolute;
	top: 0px;
	width: 100%;
	min-height: 40vh;
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
	transition: opacity 0.5s linear;
	z-index: 1;
}

.back-button {
	background-color: transparent;
	color: #8c8c8c;
	font-weight: bold;
	font-size: 2rem;
	display: flex;
	align-items: center;
	padding: 3rem;
}

.speed-controller {
	position: relative;
}

.video-container .controls .speed-controller svg,
.video-container .controls .speed-controller:hover svg {
	stroke: transparent;
	stroke-width: initial;
	stroke-linecap: initial;
	stroke-linejoin: initial;
}

.speed-popup {
	position: absolute;
	right: 0;
	top: -150px;
	width: 400px;
	padding: 20px;
	border-radius: 5px;
	background-color: #333;
	text-align: left;
	display: none;

	&::after {
		content: "";
		width: 0;
		height: 0;
		background-color: transparent;
		border-top: 20px solid #333;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 20px solid transparent;
		position: absolute;
		bottom: -35px;
		right: 10px;
		z-index: -1;
	}
}

.speed-title {
	font-weight: bold;
	color: $primary-color;
	margin-bottom: 0;
}

.speed-stage {
	padding: 12px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 0;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 25px;
		z-index: -1;
		width: 100%;
		height: 1px;
		background-color: $white-color;
	}
}

.speed-circle {
	width: 12px;
	height: 12px;
	border-radius: 25px;
	background-color: $white-color;
	margin: auto;
}

.speed-info {
	color: $white-color;
	font-weight: bold;
}

.speed-circle.selected {
	background-color: $primary-color;
	border: 5px solid #333;
	outline: 1px solid $white-color;
	width: 25px;
	height: 25px;
}

.speed-indicator:first-child .speed-circle {
	margin-left: 0;
	margin-right: auto;
}

.speed-indicator:last-child .speed-circle {
	margin-left: auto;
	margin-right: 0;
}

.speed-controller:hover .speed-popup {
	display: block;
}

.backward-10 {
	left: 150px;
}

.backward-10,
.forward-10,
.pause-center-icon {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	padding: 15px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.65);
	transform: translateY(-50%);
	transition: opacity 0.5s linear;
}

.pause-center-container {
}

.pause-center-icon {
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pause-center-icon svg {
	width: 80%;
	height: 80%;
}

.forward-10 {
	right: 150px;
}

.pause-overlay-container {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.icon-rating {
	width: 50px;
	height: 50px;
}

.icon-rating svg {
	width: 100%;
	height: 100%;
}

.pause-overlay-container {
	pointer-events: none;
	transition: opacity 0.5s linear;
}

.pause-title {
	position: absolute;
	bottom: 300px;
	right: 150px;
}

.pause-content {
	position: absolute;
	bottom: 50%;
	left: 150px;
	transform: translateY(50%);
}

.pause-overlay-container h3 {
	font-size: 25px;
	font-weight: bold;
}

.pause-overlay-container h1 {
	font-size: 60px;
	font-weight: bold;
}

.pause-overlay-container dd {
	font-weight: lighter;
	font-size: 18px;
}

// VOLUME CSS

#audio-player-container {
	--seek-before-width: 0%;
	--volume-before-width: 50%;
	--buffered-width: 0%;
	position: relative;
}
#volume-slider {
	width: 100px;
}
#volume-slider::-webkit-slider-runnable-track {
	background: #8c8c8c;
}
#volume-slider::-moz-range-track {
	background: $primary-color;
}
#volume-slider::-ms-fill-upper {
	background: $primary-color;
}
#volume-slider::before {
	width: var(--volume-before-width);
}
input[type="range"] {
	position: relative;
	-webkit-appearance: none;
	// width: 48%;
	margin: 0;
	padding: 0;
	height: 19px;
	float: left;
	outline: none;
	background: transparent;
}
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: linear-gradient(
		to right,
		$primary-color var(--buffered-width),
		$primary-color var(--buffered-width)
	);
}
input[type="range"]::before {
	position: absolute;
	content: "";
	top: 8px;
	left: 0;
	width: var(--seek-before-width);
	height: 3px;
	background-color: $primary-color;
	cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
	position: relative;
	-webkit-appearance: none;
	box-sizing: content-box;
	border: 1px solid $primary-color;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: $primary-color;
	cursor: pointer;
	margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
	transform: scale(1.2);
	background: $primary-color;
}

input[type="range"]::-moz-range-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: linear-gradient(
		to right,
		$primary-color var(--buffered-width),
		$primary-color var(--buffered-width)
	);
}
input[type="range"]::-moz-range-progress {
	background-color: $primary-color;
}
input[type="range"]::-moz-focus-outer {
	border: 0;
}
input[type="range"]::-moz-range-thumb {
	box-sizing: content-box;
	border: 1px solid $primary-color;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: $primary-color;
	cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
	transform: scale(1.2);
	background: $primary-color;
}
